.Table {
  width: 40rem;
  margin: auto;
}

.Table > h3 {
  text-align: center;
  color: #4e4e4e;
}

.hr-bar {
  border-top: 2px solid #808080;
  margin: 2rem 0;
}

.table-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem;
  background-color: white;
  color: #808080;
  border-radius: .3rem;
  margin: 1rem 0;
  transition: all .3s ease-out;
  cursor: pointer;
}

.accent {
  transition: color .3s ease-out;
  margin-right: .5rem;
}

.table-item:hover {
  box-shadow: 1px 4px 4px #8080805d;
}

.table-item:hover .accent {
  color: black;
}